#root {
  width: 80%;
  max-width: 40em;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

#input_add_name {
  width: 87%;
}

#input_add_submit {
  float: right;
}

.input_remove_todo {
  float: right;
}

@media screen and (max-width: 600px) {
  #root {
    width: 100%;
  }
}

@media screen and (max-width: 610px) {
  #input_add_name {
    width: 82%;
  }
}
