#root {
  width: 80%;
  max-width: 40em;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.inputAddName {
  width: 87%;
}

.inputAddSubmit {
  float: right;
}

.inputRemoveTodo {
  float: right;
}

@media screen and (max-width: 600px) {
  #root {
    width: 100%;
  }
}

@media screen and (max-width: 610px) {
  .inputAddName {
    width: 82%;
  }
}
